html
    head
        title Mi primera pagina con Expresse
    body
        - let arreglo = [1,2,3,4,5];
        each val in arreglo
            h1=val 
            case val
                when 1
                    p El item era 1
                when 2
                    P eL item era 2   
                when 3
                    P eL item era 3   
                when 4
                    P eL item era 4  
                default 
                    P Lo siento amiguito te falle      